{% extends 'staticpages/base.html' %}
{% load static %}

{% block title %}
    Login page
{% endblock %}

{% block content %}
    <div class="login-container">
        <h1>Login</h1>
        <p>Please, use the following to login</p>
        {% if form.errors %}
            <p class="error-message">Your username and password didn't match. Please try again.</p>
        {% endif %}

        <form method="post" class="login-form">
            {{ form.as_p }}
            {% csrf_token %} 
            <input type="hidden" name="next" value="{{ next }}">
 
            <button type="submit" class="login-button">Login</button>
        </form>
        <p>
            <a href="{% url "password_reset"}" > forgotten Your password?</a>
        </p>
        <!-- <p class="signup-link">Don't have an account? <a href="{% url 'register' %}">Sign up</a></p> -->
    </div>
{% endblock %}