{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}product{% endblock %}

{% block content %}
<div class="d-flex">
  {% include 'shared/sidebar.html' %}

    <div class="mainbar flex-grow-1 overflow-auto p-3 bg-body-tertiary">
        {%  include 'components/alerts.html' %}

        <h2 class="text-center mb-4">My listings</h2>
            <div class="row row-cols-1 row-cols-md-3 g-4 scrollarea"> 
              {% for product in products %}
              <div class="col-md-4 mb-4">
                {% include 'product_card.html' %}    
              </div>
              {% empty %}
              <div class="col">
                  <div class="alert alert-info" role="alert">
                      No products available.
                  </div>
              </div>
              {% endfor %}
            </div>
        
            {% include 'shared/pagination.html' %}
    </div>
</div>
   
{% endblock %}
