db.sqlite3
.env
marketplace/__pycache__/
marketplace/__pycache__/
adminapp/__pycache__/
marketplace/migrations/__pycache__/
orders/migrations/
payment/__pycache__/
payment/migrations/__pycache__/
staticpages/__pycache__/
students/__pycache__/
orders/__pycache__/
env/
products/__pycache__/
staticpages/templatetags/__pycache__/
backend/api/__pycache__/
*.pyc
orders/__pycache__/
backend/api/views/__pycache__/
orders/__pycache__/

https://www.blackbox.ai/api/buy-credits?productId=prod_RI1k0eOeA1Xf5u&userId=6048866559-7718624351-4989805375-4504879459&productName=cybercoder