{% extends 'staticpages/base.html' %}
{% load static %}

{% block title %}
Login page
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center align-items-center min-vh-100">
        <div class="col-md-6">
            <div class="card shadow-lg">
                <div class="card-body">
                    <h1 class="card-title text-center mb-4">Login</h1>
                    <p class="card-text text-center">Please, use the following to login</p>

                    <form method="post" class="login-form needs-validation" novalidate>
                        {% csrf_token %}
                        <div class="mb-3">
                            {{ form.username.label_tag }}
                            {{ form.username }}
                        </div>
                        <div class="mb-3">
                            {{ form.password.label_tag }}
                            {{ form.password }}
                        </div>
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" id="rememberMe">
                            <label class="form-check-label" for="rememberMe">Remember Me</label>
                        </div>

                        <button type="submit" class="btn btn-primary btn-block">Login</button>
                    </form>

                    <p class="mt-4 text-center">
                        <a href="{% url 'password_reset' %}" class="forgot-password-link">Forgot your password?</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-center">
                <h2>Welcome to Our Platform</h2>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
                <img src="../../../static/images/background_5.jpg" class="img-fluid mt-4" alt="Login Image">
            </div>
        </div>
    </div>
</div>

<script>
    // Add animation class to login form
    document.querySelector('.login-form').classList.add('animate__animated', 'animate__fadeInUp');
</script>



<script>
    // Add animation class to login container
    document.querySelector('.login-container').classList.add('animate');
</script>

{% endblock %}