{% extends 'staticpages/base.html' %}
{% load static %}

{% block title %} EasyMarket | Profile {% endblock %}

{% block content %}

{% include 'alert.html' %}

<div class="container-fluid mt-2">
    <div class="row justify-content-center align-items-center min-vh-100">
        <div class="col-lg-6 col-md-8">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title text-center mb-4">Profile</h1>
                    <div class="d-flex justify-content-center align-items-center mt-2">
                        <div class="avatar-container position-relative">
                            {% if profile_form.instance.avatar %}
                            <div class="d-flex justify-content-center align-items-center">
                                <img src="{{ profile_form.instance.avatar.url }}" alt="b" class="avatar-img round-circle">
                                <label for="avatarInput" class="avatar-edit-btn position-absolute">
                                    <i class="fas fa-pen fa-lg"></i>
                                </label>
                            </div>
                            {% else %}
                                <div class="avatar-placeholder d-flex align-items-center justify-content-center">
                                    <i class="fas fa-camera fa-2x"></i>
                                </div>
                            {% endif %}
                            <input class="form-control avatar-input" type="file" id="avatarInput" name="avatar">
                        </div>
                    </div>
                    
                    
                    <form method="post" class="profile-form needs-validation" novalidate enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="id_username" class="form-label">Username</label>
                            {{ user_form.username }}
                        </div>
                        <div class="mb-3">
                            <label for="id_first_name" class="form-label">First Name</label>
                            {{ user_form.first_name }}
                        </div>
                        <div class="mb-3">
                            <label for="id_last_name" class="form-label">Last Name</label>
                            {{ user_form.last_name }}
                        </div>
                        <div class="mb-3">
                            <label for="id_email" class="form-label">Email</label>
                            {{ user_form.email }}
                        </div>
                        {% comment %} <div class="mb-3">
                            <!-- Hidden input for the avatar -->
                            {{ profile_form.avatar }}
                        </div> {% endcomment %}
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary w-25">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
