
{% extends 'staticpages/base.html' %}
{% load static %}

{% block title %}
    Orders
{% endblock %}

{% block content %}
<div class="sidebar">
    <h2>Menu</h2>
    <ul>
        <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
        <li><a href="{% url 'categories' %}">Categories</a></li>
        <li><a href="{% url 'add_product' %}">Sell</a>
        <a href="{% url 'product_list' %}">Buy</a>
        <li><a href="{% url 'orders' %}">My Orders</a></li>
        <li><a href="{% url 'product_list' %}">My Products</a>
        <li><a href="{% url 'contact' %}">Contact Us</a></li>
        <li><a href="{% url 'home' %}">Site Home</a>
    </ul>
    <div class="logout-btn">
         <form action="{% url 'signout' %}" method="post" >
                            {% csrf_token %}
                            <button type="submit" id="submit-btn">Log out</button>
                        </form>
    </div>
</div>
<div class="mainbar">   
    <h1>Orders</h1>
    <table>
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Customer Name</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.user }}</td>
                    <td>{{ order.product }}</td>
                    <td>{{ order.quantity }}</td>
                    <td>{{ order.total_price }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}