
{% extends 'staticpages/base.html' %}
{% load static %}

{% block title %}
    Orders
{% endblock %}

{% block content %}
    
    <h1>Orders</h1>
    <table>
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Customer Name</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.user }}</td>
                    <td>{{ order.product }}</td>
                    <td>{{ order.quantity }}</td>
                    <td>{{ order.total_price }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}