{% extends 'base.html' %}
{% load static %}

{% block title %}EasyMarket | Orders{% endblock %}


{% block content %}
<div class="d-flex">
    
    {% include 'sidebar.html' %}

<div class="mainbar p-3 flex-grow-1 bg-body-tertiary" style=" height:100vh;">
    {% include 'alert.html' %}
    
    <h1 class="mb-4 text-center">Orders</h1>
    <div class="table-responsive scrollarea">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Customer Name</th>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                    <tr>
                        <td>{{ order.id }}</td>
                        <td>{{ order.user }}</td>
                        <td>{{ order.product }}</td>
                        <td>{{ order.quantity }}</td>
                        <td>{{ order.total_price }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</div>
{% endblock %}
