{% extends "staticpages/base.html" %}
{% load static %}

{% block content %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endfor %}
{% endif %}
  <h2>Add to Cart</h2>
  <form method="post" class="form-inline" action="{% url 'marketplace:add_to_cart' product_id=product.id %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Add to Cart</button>
  </form>
{% endblock %}
