{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha384-GLhlTQ8i7uZuR7S1ZfGgFotZstYT5u9KGWY4YO5Fm49Mehb+6YpBmSJoNxmI1TwP" crossorigin="anonymous">
</head>
<body>
    <header>
    <div class="logo">
        <a href="{% url 'home' %}">
            <!-- <img src="{% static 'images/logo.png' %}" alt="Logo"> -->
            <h1>Easymarket</h1>
        </a>
    </div>

    <div class="search">
        <form action="{% url 'search' %}" method="GET">
            <input type="text" name="q" placeholder="Search...">
            <button type="submit">search <!-- <i class="fas fa-search"></i> --> </button>  
        </form>
    </div>

    <div class="dashboard">
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'chat' %}">Chat</a></li>
            <li><a href="{% url 'about' %}">About Us</a></li>
            <li><a href="{% url 'help' %}">Help</a></li>
        </ul>
    </div>

    <div class="cart">
        <a href="{% url 'cart' %}">
            <i class="fas fa-shopping-cart"></i>
            <p>Cart</p>
        </a>
    </div>


    <div class="menu">
        {% if request.user.is_authenticated %}
            <div class="user">
                <a href="{% url 'user_profile' %}">
                    <i class="fas fa-user"></i>
                    <p> hello, {{ request.user.username }} welcome</p>
                </a>
            </div>  
        {% endif %}
        <ul>
            {% if request.user.is_authenticated %}
            <li><a href="{% url 'signout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'signin' %}">Login</a></li>
            <li><a href="{% url 'register' %}">Register</a></li>
            {% endif %}
        </ul>
    </div>

    </header>
    <main>
        {% block content %}
        <!-- Default content for child templates -->
        {% endblock %}
    </main>



    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
