{% extends 'staticpages/base.html' %}
{% load static %}

{% block title %}
Add Category
{% endblock %}

{% block content %}
 <!-- Sidebar -->
    <div class="sidebar bg-dark text-light p-3 " style="width: 250px; height:100vh;">
        <h2 class="mb-3">Menu</h2>
        <ul class="list-unstyled mb-4">
            <li class="mb-4"><a href="{% url 'dashboard' %}" class="text-decoration-none text-light {% if request.path == '/dashboard/' %}active{% endif %}">Dashboard</a></li>
            <li class="mb-4"><a href="{% url 'add_category' %}" class="text-decoration-none text-light">Add Category</a></li>
            <li class="mb-4"><a href="{% url 'products:categories' %}" class="text-decoration-none text-light">Categories</a></li>
            <li class="mb-4"><a href="{% url 'products:add_product' %}" class="text-decoration-none text-light">Sell</a></li>
            <li class="mb-4"><a href="{% url 'products:product_list' %}" class="text-decoration-none text-light">Buy</a></li>
            <li class="mb-4"><a href="{% url 'orders' %}" class="text-decoration-none text-light">My Orders</a></li>
            <li class="mb-4"><a href="{% url 'products:user_product_list' user_id=request.user.id %}" class="text-decoration-none text-light">My Listings</a></li>
            <li class="mb-4"><a href="{% url 'contact' %}" class="text-decoration-none text-light">Contact Us</a></li>
            <li class="mb-4"><a href="{% url 'home' %}" class="text-decoration-none text-light">Site Home</a></li>
        </ul>
        <div class="logout-btn">
            <form action="{% url 'signout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger w-100">Log out</button>
            </form>
        </div>
    </div>
</div>
    <div class="mainbar p-3 flex-grow-1 overflow-auto" style="height:100vh;">
        <h2 class="text-center">Add Category</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group mb-3">
                <label for="id_name">Name</label>
                {{ form.name }}
            </div>
            <div class="form-group mb-3">
                <label for="id_description">Description</label>
                {{ form.description }}
            </div>
           <div class="d-flex justify-content-center allign-items-center mb-3">
                <button type="submit" class="btn btn-primary w-25">Submit</button>
           </div>
        </form>
    </div>
{% endblock %}
