{% extends 'base.html' %}
{% load static %}

{% block title %}EasyMarket | Add Category{% endblock %}

{% block content %}
<div class="d-flex">
    {% include 'sidebar.html' %}

    <div class="mainbar p-3 flex-grow-1 overflow-auto bg-body-tertiary">
       <main class="overflow-auto">
        <div class="container">
        {% include 'alert.html' %}

            <h2 class="text-center">Add Category</h2>
            <form method="post" class="scrollarea">
                {% csrf_token %}
                <div class="form-group mb-3">
                    <label for="id_name">Name</label>
                    {{ form.name }}
                </div>
                <div class="form-group mb-3">
                    <label for="id_description">Description</label>
                    {{ form.description }}
                </div>
               <div class="d-flex justify-content-center allign-items-center mb-3">
                    <button type="submit" class="btn btn-primary w-25">Submit</button>
               </div>
            </form>
        </div>
       </main>
    </div>
</div>
{% endblock %}
