{% extends 'staticpages/base.html' %}
{% load static %}

{% block title %}
Add Category
{% endblock %}

{% block content %}
<div class="d-flex vh-100">
        <!-- Sidebar -->
        <div class="sidebar  p-3" style="width: 250px; height:100vh;">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h2 class="mb-0">Menu</h2>
                <button class="btn btn-light d-md-none d-block" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                    <i class="fas fa-bars"></i>
                </button>
            </div>
            <nav class="nav flex-column">
                <a href="{% url 'dashboard' %}" class="nav-link {% if request.path == '/dashboard/' %}active{% endif %}">
                    <i class="fas fa-tachometer-alt me-2 mb-4"></i>
                    Dashboard
                </a>
                <a href="{% url 'add_category' %}" class="nav-link">
                    <i class="fas fa-plus me-2 mb-4"></i>
                    Add Category
                </a>
                <a href="{% url 'products:categories' %}" class="nav-link">
                    <i class="fas fa-list me-2 mb-4"></i>
                    Categories
                </a>
                <a href="{% url 'products:add_product' %}" class="nav-link">
                    <i class="fas fa-upload me-2 mb-4"></i>
                    Sell
                </a>
                <a href="{% url 'products:product_list' %}" class="nav-link">
                    <i class="fas fa-shopping-cart me-2 mb-4"></i>
                    Buy
                </a>
                <a href="{% url 'orders' %}" class="nav-link">
                    <i class="fas fa-box-open me-2 mb-4"></i>
                    My Orders
                </a>
                <a href="{% url 'products:user_product_list' user_id=request.user.id %}" class="nav-link">
                    <i class="fas fa-list-alt me-2 mb-4"></i>
                    My Listings
                </a>
                <a href="{% url 'contact' %}" class="nav-link">
                    <i class="fas fa-envelope me-2 mb-4"></i>
                    Contact Us
                </a>
                <a href="{% url 'home' %}" class="nav-link">
                    <i class="fas fa-home me-2 mb-4"></i>
                    Site Home
                </a>
            </nav>
            <div class="logout-btn mt-auto">
                <form action="{% url 'signout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger w-100">
                        <i class="fas fa-sign-out-alt me-2"></i>
                        Log out
                    </button>
                </form>
            </div>
        </div>
    <div class="mainbar p-3 flex-grow-1 overflow-auto" style="height:100vh;">
       <main>
        <div class="container">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <li>
                            {{ message }}
                        </li>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    
                {% endfor %}
            </ul>
            {% endif %}
            <h2 class="text-center">Add Category</h2>
            <form method="post">
                {% csrf_token %}
                <div class="form-group mb-3">
                    <label for="id_name">Name</label>
                    {{ form.name }}
                </div>
                <div class="form-group mb-3">
                    <label for="id_description">Description</label>
                    {{ form.description }}
                </div>
               <div class="d-flex justify-content-center allign-items-center mb-3">
                    <button type="submit" class="btn btn-primary w-25">Submit</button>
               </div>
            </form>
        </div>
       </main>
    </div>
</div>
{% endblock %}
