{% extends "staticpages/base.html" %}

{% block style %}
<style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

    .b-example-divider {
      width: 100%;
      height: 3rem;
      background-color: rgba(0, 0, 0, .1);
      border: solid rgba(0, 0, 0, .15);
      border-width: 1px 0;
      box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    }

    .b-example-vr {
      flex-shrink: 0;
      width: 1.5rem;
      height: 100vh;
    }

    .bi {
      vertical-align: -.125em;
      fill: currentColor;
    }

    .nav-scroller {
      position: relative;
      z-index: 2;
      height: 2.75rem;
      overflow-y: hidden;
    }

    .nav-scroller .nav {
      display: flex;
      flex-wrap: nowrap;
      padding-bottom: 1rem;
      margin-top: -1px;
      overflow-x: auto;
      text-align: center;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
    }

    .btn-bd-primary {
      --bd-violet-bg: #712cf9;
      --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

      --bs-btn-font-weight: 600;
      --bs-btn-color: var(--bs-white);
      --bs-btn-bg: var(--bd-violet-bg);
      --bs-btn-border-color: var(--bd-violet-bg);
      --bs-btn-hover-color: var(--bs-white);
      --bs-btn-hover-bg: #6528e0;
      --bs-btn-hover-border-color: #6528e0;
      --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
      --bs-btn-active-color: var(--bs-btn-hover-color);
      --bs-btn-active-bg: #5a23c8;
      --bs-btn-active-border-color: #5a23c8;
    }

    .bd-mode-toggle {
      z-index: 1500;
    }

    .bd-mode-toggle .dropdown-menu .active .bi {
      display: block !important;
    }
</style>
{% endblock style %}

{% block content %}

    

<div class="d-flex">
    <div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary">
        <div class="sidebar p-3 vh-100 overflow-auto" style="width: 250px;">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h2 class="mb-0">Menu</h2>
                <button class="btn btn-light d-md-none d-block" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                    <i class="fas fa-bars"></i>
                </button>
            </div>
            <nav class="nav flex-column">
                <a href="{% url 'dashboard' %}" class="nav-link {% if request.path == '/dashboard/' %}active{% endif %}">
                    <i class="fas fa-tachometer-alt me-2 mb-4"></i>
                    Dashboard
                </a>
                <a href="{% url 'add_category' %}" class="nav-link">
                    <i class="fas fa-plus me-2 mb-4"></i>
                    Add Category
                </a>
                <a href="{% url 'products:categories' %}" class="nav-link">
                    <i class="fas fa-list me-2 mb-4"></i>
                    Categories
                </a>
                <a href="{% url 'products:add_product' %}" class="nav-link">
                    <i class="fas fa-upload me-2 mb-4"></i>
                    Sell
                </a>
                <a href="{% url 'products:product_list' %}" class="nav-link">
                    <i class="fas fa-shopping-cart me-2 mb-4"></i>
                    Buy
                </a>
                <a href="{% url 'orders' %}" class="nav-link">
                    <i class="fas fa-box-open me-2 mb-4"></i>
                    My Orders
                </a>
                <a href="{% url 'products:user_product_list' user_id=request.user.id %}" class="nav-link">
                    <i class="fas fa-list-alt me-2 mb-4"></i>
                    My Listings
                </a>
                <a href="{% url 'contact' %}" class="nav-link">
                    <i class="fas fa-envelope me-2 mb-4"></i>
                    Contact Us
                </a>
                <a href="{% url 'home' %}" class="nav-link">
                    <i class="fas fa-home me-2 mb-4"></i>
                    Site Home
                </a>
            </nav>
            <hr>
            <div class="dropdown mb-4 text-dark">
                {% if request.user.is_authenticated %}
                <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" role="button" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: black;">
                    {% if request.user.userprofile.avatar %}
                    <img src="{{ request.user.userprofile.avatar.url }}" width="32" height="32" class="rounded-circle me-2">
                    {% else %}
                    <img src="{% static 'images/user_avatar.jpeg' %}" alt="User Avatar" class="rounded-circle me-2">
                    {% endif %}
                    <strong style="color: rgb(40, 140, 179);">{{ request.user.username }}</strong>
                </a>
                <ul class="dropdown-menu text-small shadow">
                    <li><a class="dropdown-item" href="{% url 'dashboard' %}">Dashboard</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="{% url 'user_profile' %}">Profile</a></li>
                    <li>
                        <div class="logout-btn mt-auto">
                            <form action="{% url 'signout' %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="ms-2 btn btn-danger w-75">
                                    <i class="fas fa-sign-out-alt me-2"></i>Log out
                                </button>
                            </form>
                        </div>
                    </li>
                </ul>
                {% else %}
                <a class="nav-link" href="{% url 'signin' %}">Login</a>
                <a class="nav-link" href="{% url 'register' %}">Register</a>
                {% endif %}
            </div>
            
    
        </div>
    </div>

    <div class="mainbar p-3 autoscroll-auto flex-grow-1 bg-body-tertiary">
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                    
                {% endfor %}
            </div>
        {% endif %}
        <div class="container my-5">
            <h1 class="mb-3">{{ category.name }}</h1>
            <p class="mb-4">{{ category.description }}</p>
    
            <h2 class="mb-4">Products</h2>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                {% for product in products %}
                <div class="col">
                    <div class="product-card">
                        {% if product.on_sale %}
                        <div class="product-badge">Sale</div>
                        {% endif %}
                        {% if product.image %}
                        <img src="{{ product.image.url }}" alt="{{ product.title }}">
                        {% else %}
                        <div class="card-img-top bg-secondary text-white p-3">
                          <span>No Image Available</span>
                        </div>
                        {% endif %}
                        <div class="product-title">{{ product.title }}</div>
                        <div class="product">
                          <div class="price">Ksh {{ product.price }}</div>
                          <div class="stock-info">
                            Stock:
                            {% if product.stock < 10 %}
                            <span class="limited-stock">{{ product.stock }} available</span>
                            {% else %}
                            {{ product.stock }} available
                            {% endif %}
                          </div>
                        </div>
                        <form action="{% url 'marketplace:add_to_cart' product.id %}" method="post">
                          {% csrf_token %}
                          <div class="product-quantity">
                            <label for="quantity-{{ product.id }}">Quantity:</label>
                            <input type="number" id="quantity-{{ product.id }}" name="quantity" value="1" min="1" max="{{ product.stock }}">
                          </div>
                        </form>
                        <div class="product-actions">
                          <form action="{% url 'marketplace:add_to_cart' product.id %}" method="post" style="margin: 0;">
                            {% csrf_token %}
                            <input type="hidden" name="product_id" value="{{ product.id }}">
                            <button type="submit">Add to Cart</button>
                          </form>
                          <a class="product-btn" href="{% url 'products:product_detail' id=product.id slug=product.slug %}">Learn More</a>
                        </div>
                        <div class="product-reviews text-center">
                          {% load custom_filters %}
                          {% for i in 5|times %}
                          {% if i < reviews_count %}
                          <span class="fas fa-star"></span>
                          {% else %}
                          <span class="far fa-star"></span>
                          {% endif %}
                          {% endfor%}
                          <span class="sr-only">({{ reviews_count }} review)</span>
                        </div>
                        <div class="product-wishlist text-center">
                          <a href="#">Add to Wishlist</a>
                        </div>
                      </div>
                      
                </div>
                {% empty %}
                <div class="col-12">
                    <p class="alert alert-info">No products in this category.</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    

{% endblock %}
