{% extends 'staticpages/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Contact Us
{% endblock %}

{% block style %}
<style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

    .b-example-divider {
      width: 100%;
      height: 3rem;
      background-color: rgba(0, 0, 0, .1);
      border: solid rgba(0, 0, 0, .15);
      border-width: 1px 0;
      box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    }

    .b-example-vr {
      flex-shrink: 0;
      width: 1.5rem;
      height: 100vh;
    }

    .bi {
      vertical-align: -.125em;
      fill: currentColor;
    }

    .nav-scroller {
      position: relative;
      z-index: 2;
      height: 2.75rem;
      overflow-y: hidden;
    }

    .nav-scroller .nav {
      display: flex;
      flex-wrap: nowrap;
      padding-bottom: 1rem;
      margin-top: -1px;
      overflow-x: auto;
      text-align: center;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
    }

    .btn-bd-primary {
      --bd-violet-bg: #712cf9;
      --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

      --bs-btn-font-weight: 600;
      --bs-btn-color: var(--bs-white);
      --bs-btn-bg: var(--bd-violet-bg);
      --bs-btn-border-color: var(--bd-violet-bg);
      --bs-btn-hover-color: var(--bs-white);
      --bs-btn-hover-bg: #6528e0;
      --bs-btn-hover-border-color: #6528e0;
      --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
      --bs-btn-active-color: var(--bs-btn-hover-color);
      --bs-btn-active-bg: #5a23c8;
      --bs-btn-active-border-color: #5a23c8;
    }

    .bd-mode-toggle {
      z-index: 1500;
    }

    .bd-mode-toggle .dropdown-menu .active .bi {
      display: block !important;
    }
</style>
{% endblock style %}

{% block content %}
<div class="d-flex">
    <div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary">
        <div class="sidebar p-3 vh-100 overflow-auto" style="width: 250px;">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h2 class="mb-0">Menu</h2>
                <button class="btn btn-light d-md-none d-block" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                    <i class="fas fa-bars"></i>
                </button>
            </div>
            <nav class="nav flex-column">
                <a href="{% url 'dashboard' %}" class="nav-link {% if request.path == '/dashboard/' %}active{% endif %}">
                    <i class="fas fa-tachometer-alt me-2 mb-4"></i>
                    Dashboard
                </a>
                <a href="{% url 'add_category' %}" class="nav-link">
                    <i class="fas fa-plus me-2 mb-4"></i>
                    Add Category
                </a>
                <a href="{% url 'products:categories' %}" class="nav-link">
                    <i class="fas fa-list me-2 mb-4"></i>
                    Categories
                </a>
                <a href="{% url 'products:add_product' %}" class="nav-link">
                    <i class="fas fa-upload me-2 mb-4"></i>
                    Sell
                </a>
                <a href="{% url 'products:product_list' %}" class="nav-link">
                    <i class="fas fa-shopping-cart me-2 mb-4"></i>
                    Buy
                </a>
                <a href="{% url 'orders' %}" class="nav-link">
                    <i class="fas fa-box-open me-2 mb-4"></i>
                    My Orders
                </a>
                <a href="{% url 'products:user_product_list' user_id=request.user.id %}" class="nav-link">
                    <i class="fas fa-list-alt me-2 mb-4"></i>
                    My Listings
                </a>
                <a href="{% url 'contact' %}" class="nav-link">
                    <i class="fas fa-envelope me-2 mb-4"></i>
                    Contact Us
                </a>
                <a href="{% url 'home' %}" class="nav-link">
                    <i class="fas fa-home me-2 mb-4"></i>
                    Site Home
                </a>
            </nav>
            <hr>
            <div class="dropdown mb-4 text-dark">
                {% if request.user.is_authenticated %}
                <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" role="button" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: black;">
                    {% if request.user.userprofile.avatar %}
                    <img src="{{ request.user.userprofile.avatar.url }}" width="32" height="32" class="rounded-circle me-2">
                    {% else %}
                    <img src="{% static 'images/user_avatar.jpeg' %}" alt="User Avatar" class="rounded-circle me-2">
                    {% endif %}
                    <strong style="color: rgb(40, 140, 179);">{{ request.user.username }}</strong>
                </a>
                <ul class="dropdown-menu text-small shadow">
                    <li><a class="dropdown-item" href="{% url 'dashboard' %}">Dashboard</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="{% url 'user_profile' %}">Profile</a></li>
                    <li>
                        <div class="logout-btn mt-auto">
                            <form action="{% url 'signout' %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="ms-2 btn btn-danger w-75">
                                    <i class="fas fa-sign-out-alt me-2"></i>Log out
                                </button>
                            </form>
                        </div>
                    </li>
                </ul>
                {% else %}
                <a class="nav-link" href="{% url 'signin' %}">Login</a>
                <a class="nav-link" href="{% url 'register' %}">Register</a>
                {% endif %}
            </div>
            
    
        </div>
    </div>


<div class="mainbar overflow-auto flex-grow-1 p-3 bg-bod-tertiary">
    <h1 class="mb-4 text-center">Contact Us</h1>
    <p>Please fill out the form below and we will get back to you as soon as possible.</p>

    {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                    
                {% endfor %}
            </div>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" name="username" placeholder="Please enter your username" required>
            <div class="invalid-feedback">Please enter your username.</div>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control" name="Email" placeholder="Please enter your email" required>
            <div class="invalid-feedback">Please enter yor email.</div>
        </div>
        <div class="mb-3">
            <label for="subject" class="form-label">subject</label>
            <input type="text" class="form-control" name="subject" placeholder="Please enter your subject" required>
            <div class="invalid-feedback">Please enter your subject.</div>
        </div>
        <div class="mb-3">
            <label for="message" class="form-label">message</label>
            <textarea placeholder="Enter your message here.." class="form-control" name="message" required></textarea>
            <div class="invalid-feedback">Please enter your message.</div>
        </div>
        {% if form.errors %}
        <p>Your form has errors, please check the fields below:</p>
        {% endif %}
        <div class="d-flex allign-items-center justify-content-center">
            <button type="submit" class="btn btn-primary w-25">Submit</button>
        </div>
    </form>

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="">
            <div class="card shadow-sm" style="width: 800px ;">
                <div class="card-body">
                    <h2 class="mt-4 mb-3 text-center">Our Location</h2>
                    <p class="text-center">123 Main Street, Vegas, Kenya</p>
                    <!-- Embed Google Maps iframe here -->
                    <div id="map" class="mb-4" style="height: 300px;">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3164.7357695733623!2d-122.08424968469104!3d37.42206577982624!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fb5bba7568f0d%3A0xd94c70e1577b8350!2sGoogleplex!5e0!3m2!1sen!2s!4v1609895684977!5m2!1sen!2s" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>

                    <h2 class="mt-4 mb-3 text-center">Phone</h2>
                    <p class="text-center">+254 725-797-622</p>

                    <h2 class="mt-4 mb-3 text-center">Email</h2>
                    <p class="text-center">info@Easymarket.com</p>

                    <h2 class="mt-4 mb-3 text-center">Follow Us</h2>
                    <p class="text-center">
                        <a href="#" class="text-decoration-none">Facebook</a> |
                        <a href="#" class="text-decoration-none">Twitter</a> |
                        <a href="#" class="text-decoration-none">Instagram</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
</div>

{% endblock %}
