body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f9f9f9;
    color: #333;
}



/* Header Styles */
header {
    background-color: #3498db;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.logo a {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
}

.logo a:hover {
    text-decoration: underline;
    color: #ffffff;
}

.logo h1 {
    margin: 0;
    font-size: 1.8em;
}

.menu {
    background-color: #f8f9fa;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    justify-content: center;
}

.menu .user {
    font-size: 1.2em;
    color: #333;
}

.menu .user a {
    text-decoration: none;
    color: #333;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu ul li {
    padding: 10px 0;
}

.menu ul li a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.menu ul li a:hover {
    color: #007bff;
}

.search input[type="text"] {
    padding: 12px;
    border: none;
    border-radius: 20px;
    background-color: #ecf0f1;
    margin-right: 10px;
    width: 250px;
}

.search button {
    padding: 12px 20px;
    border: none;
    background-color: #2980b9;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.search button:hover {
    background-color: #1c6ea4;
}

.dashboard ul,
.menu ul {
    list-style-type: none;
    padding: 0;
}

.dashboard ul li {
    display: inline;
    margin-right: 15px;
}

.dashboard ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: text-decoration 0.3s ease-in-out;
}

.dashboard ul li a:hover {
    text-decoration: underline;
}

.cart a {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
}

.cart a:hover {
    text-decoration: underline;
    color: #ffffff;
}

.cart i {
    font-size: 1.2em;
    margin-right: 5px;
    transition: transform 0.3s ease-in-out;
}

.cart a:hover i {
    transform: scale(1.2);
}

/* Responsive Design */
@media only screen and (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    .logo h1 {
        margin-top: 10px;
    }

    .user,
    .search,
    .dashboard,
    .menu,
    .cart {
        margin-top: 10px;
    }

    .search input[type="text"] {
        width: 100%;
        margin-right: 0;
    }

    .search button {
        margin-top: 10px;
    }

    .dashboard ul li,
    .menu ul li {
        display: block;
        margin: 5px 0;
    }
}

/* Style the footer */
.site-footer {
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 30px 0;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    width: 30%;
    margin-bottom: 30px;
}

.footer-section h2 {
    color: #3498db;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section a {
    color: #ecf0f1;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-section a:hover {
    color: #3498db;
}

.footer-bottom {
    margin-top: 30px;
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #34495e;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.contact-form textarea {
    width: 90%;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #3498db;
    border-radius: 5px;
    background-color: #34495e;
    color: #ecf0f1;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.contact-form textarea:focus {
    outline: none;
    border-color: #3498db;
    background-color: #2c3e50;
    color: #ecf0f1;
}

.contact-form button {
    background-color: #3498db;
    color: #ecf0f1;
    border: none;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.contact-form button:hover {
    background-color: #2980b9;
}

/* style of the main section */


.hero-section {
    position: relative;
    height: 500px;
    overflow: hidden;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.main-section {
    max-width: 1200px;
    margin: 20px auto;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.main-section h1 {
    color: #333;
    text-align: center;
    font-size: 3em;
    margin-bottom: 20px;
}

.main-section p {
    font-size: 1.6em;
    line-height: 1.8;
    margin-bottom: 20px;
}

.features {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
}

.feature {
    flex: 1;
    text-align: center;
    padding: 30px;
    background-color: #ecf0f1;
    border-radius: 15px;
    margin: 0 20px;
    transition: transform 0.3s ease;
}

.feature:hover {
    transform: scale(1.05);
}

.feature i {
    font-size: 2em;
    color: #3498db;
    margin-bottom: 20px;
}


.about-us {
    margin-bottom: 40px;
}

.cta-button {
    display: inline-block;
    background-color: #3498db;
    color: #fff;
    padding: 25px 50px;
    text-decoration: none;
    font-size: 1.8em;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #2980b9;
}

/* style the login page */

.login-container {
    margin-top: 20px;
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
    padding: 20px;
    justify-content: space-between;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.login-form label {
    text-decoration: none;
    text-align: left;

}

.login-button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.signup-link {
    margin-top: 10px;
    text-align: center;
}

/* chat styles */
.chat-container {
    display: flex;
    max-width: 800px;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
}

.chat-sidebar {
    flex: 1;
    padding: 20px;
    border-right: 1px solid #ccc;
}

.chat-main {
    flex: 3;
    display: flex;
    flex-direction: column;
}

.chat-header {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.chat-messages {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
}

.message {
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.message-content {
    background-color: #ecf0f1;
    padding: 10px;
    border-radius: 10px;
}

.message-time {
    font-size: 0.8em;
    color: #777;
    margin-left: 10px;
}

.chat-input {
    padding: 20px;
    border-top: 1px solid #ccc;
    display: flex;
    align-items: center;
}

#message-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

#message-form button {
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#message-form button:hover {
    background-color: #2980b9;
}

#typing-indicator {
    font-style: italic;
    color: #777;
}

/* about section styles */

.about-section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.about-section h2 {
    color: #3498db;
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.about-section p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 15px;
}

.mission-values,
.how-it-works,
.social-media,
.cta {
    margin-bottom: 30px;
}

.mission-values h3,
.how-it-works h3,
.social-media h3,
.cta h3 {
    color: #3498db;
    font-size: 1.8em;
    margin-bottom: 15px;
}

.mission-values ul {
    list-style: none;
    padding: 0;
}

.mission-values li {
    margin-bottom: 10px;
}

.how-it-works ol,
.social-media ul {
    list-style: none;
    padding: 0;
}

.how-it-works li,
.social-media li {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 10px;
}

.social-media a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.social-media a:hover {
    color: #2980b9;
}

.cta-button {
    display: inline-block;
    background-color: #3498db;
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 1.5em;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #2980b9;
}

/* testimonials styles */

/* Add these styles to your existing CSS or adjust as needed */

.testimonial-carousel {
    display: flex;
    overflow: hidden;
    position: relative;
}

.testimonial {
    flex: 0 0 100%;
    transition: transform 0.5s ease;
}

.testimonial-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.testimonial-nav-btn {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.testimonial-nav-btn:hover {
    background-color: #2980b9;
}

.testimonial-counter {
    font-size: 1em;
    margin: 0 10px;
}


/* signin styles */
.login-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.login-container h1 {
    text-align: center;
    color: #333;
}

.login-container p {
    text-align: center;
    color: #666;
}

.error-message {
    color: red;
    text-align: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form input {
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

.login-button:hover {
    background-color: #0056b3;
}

.signup-link {
    text-align: center;
    margin-top: 10px;
}