{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
{% if wishlist.products.all %}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Price</th>
                    <th>Details</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for product in wishlist.products.all %}
                    <tr>
                        <td>{{ product.name }}</td>
                        <td>{{ product.price }}</td>
                        <td>{{ product.description }}</td>
                        <td>
                            <form action="{% url 'marketplace:remove_from_wishlist' product.id %}" method="post">
                                {% csrf_token %}
                                <button class="btn btn-danger" type="submit">Remove</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <p class="text-center">Your wishlist is empty</p>
{% endif %}
{% endblock %}
