{% extends "staticpages/base.html" %}
{% load static %}
{% block title %}product{% endblock %}
{% block content %}
<div class="d-flex vh-100">
<!-- Sidebar -->
<div class="sidebar p-3" style="width: 250px; height:100vh;">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="mb-0">Menu</h2>
        <button class="btn btn-light d-md-none d-block" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
            <i class="fas fa-bars"></i>
        </button>
    </div>
    <nav class="nav flex-column">
        <a href="{% url 'dashboard' %}" class="nav-link {% if request.path == '/dashboard/' %}active{% endif %}">
            <i class="fas fa-tachometer-alt me-2 mb-4"></i>
            Dashboard
        </a>
        <a href="{% url 'add_category' %}" class="nav-link">
            <i class="fas fa-plus me-2 mb-4"></i>
            Add Category
        </a>
        <a href="{% url 'products:categories' %}" class="nav-link">
            <i class="fas fa-list me-2 mb-4"></i>
            Categories
        </a>
        <a href="{% url 'products:add_product' %}" class="nav-link">
            <i class="fas fa-upload me-2 mb-4"></i>
            Sell
        </a>
        <a href="{% url 'products:product_list' %}" class="nav-link">
            <i class="fas fa-shopping-cart me-2 mb-4"></i>
            Buy
        </a>
        <a href="{% url 'orders' %}" class="nav-link">
            <i class="fas fa-box-open me-2 mb-4"></i>
            My Orders
        </a>
        <a href="{% url 'products:user_product_list' user_id=request.user.id %}" class="nav-link">
            <i class="fas fa-list-alt me-2 mb-4"></i>
            My Listings
        </a>
        <a href="{% url 'contact' %}" class="nav-link">
            <i class="fas fa-envelope me-2 mb-4"></i>
            Contact Us
        </a>
        <a href="{% url 'home' %}" class="nav-link">
            <i class="fas fa-home me-2 mb-4"></i>
            Site Home
        </a>
    </nav>
    <div class="logout-btn mt-auto">
        <form action="{% url 'signout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger w-100">
                <i class="fas fa-sign-out-alt me-2"></i>
                Log out
            </button>
        </form>
    </div>
</div>

    <div class="mainbar flex-grow-1 overflow-auto p-3" style=" height:100vh;">
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                    
                {% endfor %}
            </div>
        {% endif %}
            <h2 class="text-center mb-4">My listings</h2>
            {% comment %} <div class="row row-cols-1 row-cols-md-2 g-4"> {% endcomment %}
            {% for product in products %}
            <div class="col-md-4 mb-4">
                <div class="product-card">
                    {% if product.on_sale %}
                    <div class="product-badge">Sale</div>
                    {% endif %}
                    {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ product.title }}">
                    {% else %}
                    <div class="card-img-top bg-secondary text-white  p-3">
                      <span>No Image Available</span>
                    </div>
                    {% endif %}
                    <div class="product-title">{{ product.title }}</div>
                    <div class="product">
                      <div class="price">Ksh {{ product.price }}</div>
                      <div class="stock-info">
                        Stock:
                        {% if product.stock < 10 %}
                        <span class="limited-stock">{{ product.stock }} available</span>
                        {% else %}
                        {{ product.stock }} available
                        {% endif %}
                      </div>
                    </div>
                    <form action="{% url 'marketplace:add_to_cart' product.id %}" method="post">
                      {% csrf_token %}
                      <div class="product-quantity">
                        <label for="quantity-{{ product.id }}">Quantity:</label>
                        <input type="number" id="quantity-{{ product.id }}" name="quantity" value="1" min="1" max="{{ product.stock }}">
                      </div>
                    </form>
                    <div class="product-actions">
                      <form action="{% url 'marketplace:add_to_cart' product.id %}" method="post" style="margin: 0;">
                        {% csrf_token %}
                        <input type="hidden" name="product_id" value="{{ product.id }}">
                        <button type="submit">Add to Cart</button>
                      </form>
                      <a class="product-btn" href="{% url 'products:product_detail' id=product.id slug=product.slug %}">Learn More</a>
                    </div>
                    <div class="product-reviews text-center">
                      {% load custom_filters %}
                      {% for i in 5|times %}
                      {% if i < reviews_count %}
                      <span class="fas fa-star"></span>
                      {% else %}
                      <span class="far fa-star"></span>
                      {% endif %}
                      {% endfor%}
                      <span class="sr-only">({{ reviews_count }} review)</span>
                    </div>
                    <div class="product-wishlist text-center">
                      <a href="{% url 'marketplace:add_to_wishlist' product.id %}">Add to Wishlist</a>
                    </div>
                  </div>
                  
            </div>
            {% empty %}
            <div class="col">
                <div class="alert alert-info" role="alert">
                    No products available.
                </div>
            </div>
            {% endfor %}
        
        <div class="pagination justify-content-center">
            <span class="step-links">
                {% if page_obj.has_previous %}
                <a href="?page=1" class="btn btn-outline-primary">&laquo; First</a>
                <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-primary">Previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-primary">Next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-primary">&raquo; Last</a>
                {% endif %}
            </span>
        </div>
    </div>
</div>
   
    {% endblock %}
