{% extends "staticpages/base.html" %}
{% load static %}
{% block title %}Product Detail{% endblock %}
{% block content %}
<div class="d-flex vh-100">
 <!-- Sidebar -->
    <div class="sidebar bg-dark text-light p-3 " style="width: 250px; height:100vh;">
        <h2 class="mb-3">Menu</h2>
        <ul class="list-unstyled mb-4">
            <li class="mb-4"><a href="{% url 'dashboard' %}" class="text-decoration-none text-light {% if request.path == '/dashboard/' %}active{% endif %}">Dashboard</a></li>
            <li class="mb-4"><a href="{% url 'add_category' %}" class="text-decoration-none text-light">Add Category</a></li>
            <li class="mb-4"><a href="{% url 'products:categories' %}" class="text-decoration-none text-light">Categories</a></li>
            <li class="mb-4"><a href="{% url 'products:add_product' %}" class="text-decoration-none text-light">Sell</a></li>
            <li class="mb-4"><a href="{% url 'products:product_list' %}" class="text-decoration-none text-light">Buy</a></li>
            <li class="mb-4"><a href="{% url 'orders' %}" class="text-decoration-none text-light">My Orders</a></li>
            <li class="mb-4"><a href="{% url 'products:user_product_list' user_id=request.user.id %}" class="text-decoration-none text-light">My Listings</a></li>
            <li class="mb-4"><a href="{% url 'contact' %}" class="text-decoration-none text-light">Contact Us</a></li>
            <li class="mb-4"><a href="{% url 'home' %}" class="text-decoration-none text-light">Site Home</a></li>
        </ul>
        <div class="logout-btn">
            <form action="{% url 'signout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger w-100">Log out</button>
            </form>
        </div>
    </div>
<div class="mainbar autoscroll-auto flex-grow-1 p-3" style="height: 100vh;">
    <h1 class="mb-3"><a href="{% url 'products:product_detail' id=product.id slug=product.slug %}" class="text-decoration-none">{{ product.title }}</a></h1>
    <div class="row mb-3">
        {% for image in product %}
        <div class="col-md-4">
            <img src="{{ image.image.url }}" alt="{{ product.title }}" class="img-fluid">
        </div>
        {% endfor %}
    </div>
    <p class="mb-2"><strong>Price:</strong> Ksh {{ product.price }}</p>
    <p class="mb-2"><strong>Description:</strong> {{ product.description }}</p>
    <p class="mb-2"><strong>Category:</strong> {{ product.category.name }}</p>
    <p class="mb-2"><strong>Student:</strong> {{ product.student.user.username }}</p>
    <p class="mb-2"><strong>Created at:</strong> {{ product.created_at }}</p>
    <p class="mb-2"><strong>Updated at:</strong> {{ product.updated_at }}</p>
</div>


{% endblock %}
