{% extends "staticpages/base.html" %}
{% load static %}
{% block title %}Product Detail{% endblock %}
{% block content %}
<div class="d-flex vh-100">
    <!-- Sidebar -->
    <div class="sidebar p-3" style="width: 250px; height:100vh; margin-right: 250px;">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h2 class="mb-0">Menu</h2>
            <button class="btn btn-light d-md-none d-block" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                <i class="fas fa-bars"></i>
            </button>
        </div>
        <nav class="nav flex-column">
            <a href="{% url 'dashboard' %}" class="nav-link {% if request.path == '/dashboard/' %}active{% endif %}">
                <i class="fas fa-tachometer-alt me-2 mb-4"></i>
                Dashboard
            </a>
            <a href="{% url 'add_category' %}" class="nav-link">
                <i class="fas fa-plus me-2 mb-4"></i>
                Add Category
            </a>
            <a href="{% url 'products:categories' %}" class="nav-link">
                <i class="fas fa-list me-2 mb-4"></i>
                Categories
            </a>
            <a href="{% url 'products:add_product' %}" class="nav-link">
                <i class="fas fa-upload me-2 mb-4"></i>
                Sell
            </a>
            <a href="{% url 'products:product_list' %}" class="nav-link">
                <i class="fas fa-shopping-cart me-2 mb-4"></i>
                Buy
            </a>
            <a href="{% url 'orders' %}" class="nav-link">
                <i class="fas fa-box-open me-2 mb-4"></i>
                My Orders
            </a>
            <a href="{% url 'products:user_product_list' user_id=request.user.id %}" class="nav-link">
                <i class="fas fa-list-alt me-2 mb-4"></i>
                My Listings
            </a>
            <a href="{% url 'contact' %}" class="nav-link">
                <i class="fas fa-envelope me-2 mb-4"></i>
                Contact Us
            </a>
            <a href="{% url 'home' %}" class="nav-link">
                <i class="fas fa-home me-2 mb-4"></i>
                Site Home
            </a>
        </nav>
        <div class="logout-btn mt-auto">
            <form action="{% url 'signout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger w-100">
                    <i class="fas fa-sign-out-alt me-2"></i>
                    Log out
                </button>
            </form>
        </div>
    </div>
    <div class="mainbar  flex-grow-1 overflow-auto p-3" style="height: 100vh; ">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <li>
                            {{ message }}
                        </li>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    
                {% endfor %}
            </ul>
        {% endif %}
        <h1 class="mb-3"><a href="{% url 'products:product_detail' id=product.id slug=product.slug %}" class="text-decoration-none">{{ product.title }}</a></h1>
        <div class="row mb-3">
            {% comment %} {% for image in product %} {% endcomment %}
            <div class="col-md-4">
                <img src="{{ product.image.url }}" alt="{{ product.title }}" class="img-fluid img-thumbnail rounded shadow">
            </div>
            {% comment %} {% endfor %} {% endcomment %}
            <p class="mb-4"><strong>Price:</strong> Ksh {{ product.price }}</p>
            <p class="mb-4"><strong>Description:</strong> {{ product.description }}</p>
            <p class="mb-4"><strong>Category:</strong> {{ product.category.name }}</p>
            <p class="mb-4"><strong>Student:</strong> {{ product.student.user.username }}</p>
            <p class="mb-4"><strong>Created at:</strong> {{ product.created_at }}</p>
            <p class="mb-4"><strong>Updated at:</strong> {{ product.updated_at }}</p>
        </div>
        
    </div>
</div>


{% endblock %}
