{% extends "staticpages/base.html" %}
{% load static %}
{% block title %}Product List{% endblock %}
{% block content %}
<div class="d-flex vh-100">
<!-- Sidebar -->
<div class="sidebar p-3" style="width: 250px; height:100vh;">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="mb-0">Menu</h2>
        <button class="btn btn-light d-md-none d-block" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
            <i class="fas fa-bars"></i>
        </button>
    </div>
    <nav class="nav flex-column">
        <a href="{% url 'dashboard' %}" class="nav-link {% if request.path == '/dashboard/' %}active{% endif %}">
            <i class="fas fa-tachometer-alt me-2 mb-4"></i>
            Dashboard
        </a>
        <a href="{% url 'add_category' %}" class="nav-link">
            <i class="fas fa-plus me-2 mb-4"></i>
            Add Category
        </a>
        <a href="{% url 'products:categories' %}" class="nav-link">
            <i class="fas fa-list me-2 mb-4"></i>
            Categories
        </a>
        <a href="{% url 'products:add_product' %}" class="nav-link">
            <i class="fas fa-upload me-2 mb-4"></i>
            Sell
        </a>
        <a href="{% url 'products:product_list' %}" class="nav-link">
            <i class="fas fa-shopping-cart me-2 mb-4"></i>
            Buy
        </a>
        <a href="{% url 'orders' %}" class="nav-link">
            <i class="fas fa-box-open me-2 mb-4"></i>
            My Orders
        </a>
        <a href="{% url 'products:user_product_list' user_id=request.user.id %}" class="nav-link">
            <i class="fas fa-list-alt me-2 mb-4"></i>
            My Listings
        </a>
        <a href="{% url 'contact' %}" class="nav-link">
            <i class="fas fa-envelope me-2 mb-4"></i>
            Contact Us
        </a>
        <a href="{% url 'home' %}" class="nav-link">
            <i class="fas fa-home me-2 mb-4"></i>
            Site Home
        </a>
    </nav>
    <div class="logout-btn mt-auto">
        <form action="{% url 'signout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger w-100">
                <i class="fas fa-sign-out-alt me-2"></i>
                Log out
            </button>
        </form>
    </div>
</div>

<div class="mainbar p-3 flex-grow-1 overflow-auto" style=" height:100vh;">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <li>
                    {{ message }}
                </li>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            
        {% endfor %}
    </ul>
    {% endif %}
        <h1 class="text-center">Product List</h1>
        {% comment %} <div class="row row-cols-1 row-cols-md-3 g-4"> {% endcomment %}
        {% for product in page_obj %}
        <div class="col">
            <div class="row-cols-md-3 mb-4">
                <div class="product-card h-100 position-relative">
                    {% if product.image %}
                    <img src="{{ product.image.url }}" class="product-card-img card-img-top" alt="{{ product.title }}">
                    {% else %}
                    <div class="card-img-top bg-secondary text-white text-center p-3">
                        <span>No Image Available</span>
                    </div>
                    {% endif %}
                    <div class="product-tint d-flex align-items-center justify-content-center">
                        <div class="product-cta d-flex flex-column align-items-center">
                            <form action="{% url 'marketplace:add_to_cart' product.id %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="product_id" value="{{ product.id }}">
                                <button type="submit" class="product-button btn btn-primary mb-3">Add to Cart</button>
                            </form>
                            <a href="{% url 'products:product_detail' id=product.id slug=product.slug %}"
                                class="product-button btn btn-outline-primary product-learn">Learn More</a>
                        </div>
                    </div>
                    <div class="product-info card-body">
                        <h5 class="product-title card-title">{{ product.title }}</h5>
                        <p class="product-price card-text text-muted"><strong>Price:</strong> Ksh {{ product.price }}</p>
                        <p class="product-description card-text">{{ product.description | truncatewords:8 | truncatechars:40 }}</p>
                        <div class="product-cta d-flex justify-content-between align-items-center">
                            <div class="product-rating">
                                <span class="product-star"><i class="fas fa-star"></i></span>
                                <span class="product-star"><i class="fas fa-star"></i></span>
                                <span class="product-star"><i class="fas fa-star"></i></span>
                                <span class="product-star"><i class="fas fa-star"></i></span>
                                <span class="product-star"><i class="far fa-star"></i></span>
                                <span class="ms-1">(123 reviews)</span>
                            </div>
                            <div class="product-stock card-text text-muted">
                                <strong>Stock:</strong> {{ product.stock }}
                            </div>
                        </div>
                    </div>
                    <div class="product-reviews position-absolute bottom-0 start-0 w-100 bg-white p-3 shadow-sm" style="display: none;">
                        <h6>Product Reviews</h6>
                        <div class="product-review-list">
                            <!-- Add your product review content here -->
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        {% empty %}
        <div class="col">
            <div class="alert alert-info" role="alert">
                No products available.
            </div>
        </div>
        {% endfor %}
    

    <div class="pagination justify-content-center mt-2">
        <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="?page=1" class="btn btn-outline-primary">&laquo; First</a>
            <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-primary">Previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-primary">Next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-primary">&raquo; Last</a>
            {% endif %}
        </span>
    </div>
</div>
</div>

{% endblock %}
