{% extends "staticpages/base.html" %}
{% load static %}
{% block title %}product{% endblock %}
{% block content %}
<div class="sidebar">
    <h2 class="mb-3">Menu</h2>
    <ul class="list-unstyled mb-4">
        <li><a href="{% url 'dashboard' %}"
                class="text-decoration-none {% if request.path == '/dashboard/' %}active{% endif %}">Dashboard</a></li>

        <li><a href="{% url 'add_category' %}" class="text-decoration-none">Add Category</a></li>
        <li><a href="{% url 'products:categories' %}" class="text-decoration-none">Categories</a></li>
        <li><a href="{% url 'products:add_product' %}" class="text-decoration-none">Sell</a></li>
        <li><a href="{% url 'products:product_list' %}" class="text-decoration-none">Buy</a></li>
        <li><a href="{% url 'orders' %}" class="text-decoration-none">My Orders</a></li>
        <li><a href="{% url 'products:user_product_list' user_id=request.user.id %}" class="text-decoration-none">My
                Listings</a></li>
        <li><a href="{% url 'contact' %}" class="text-decoration-none">Contact Us</a></li>
        <li><a href="{% url 'home' %}" class="text-decoration-none">Site Home</a></li>
    </ul>
    <div class="logout-btn">
        <form action="{% url 'signout' %}" method="post">
            {% csrf_token %}
            <button type="submit" id="submit-btn" class="btn btn-danger">Log out</button>
        </form>
    </div>
</div>

<div class="mainbar">
    <h2 class="text-center mb-4">My listings</h2>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        {% for product in products %}
        <div class="col">
            <div class="card shadow-sm" style="height:450px ;">
                {% if image in product.image.all %}
                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.title }}"
                    style="height: 200px;">
                {% else %}
                <div class="card-img-top d-flex justify-content-center align-items-center" style="height: 200px;">
                    <span>No Image Available</span>
                </div>
                {% endif %}

                <div class="card-body">
                    <h5 class="card-title">{{ product.title }}</h5>
                    <p class="card-text">{{ product.description | truncatewords:8 | truncatechars:40 }} <a
                            href="{% url 'products:product_detail' id=product.id slug=product.slug %}">more details</a>
                    </p>
                    <p class="card-text text-muted"><strong>Price:</strong> Ksh {{ product.price }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <form action="{% url 'marketplace:add_to_cart' product.id %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="product_id" value="{{ product.id }}">
                            <div class="input-group">
                                <input type="number" name="quantity" class="form-control" min="1" value="1">
                                <button type="submit" class="btn btn-primary">Add to Cart</button>
                            </div>
                        </form>
                    </div>


                </div>
            </div>
        </div>
        {% empty %}
        <div class="col">
            <div class="alert alert-info" role="alert">
                No products available.
            </div>
        </div>

        {% endfor %}
    </div>

     <div class="pagination justify-content-center">
        <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="?page=1" class="btn btn-outline-primary">&laquo; First</a>
            <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-primary">Previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-primary">Next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-primary">&raquo; Last</a>
            {% endif %}
        </span>
    </div>

    {% endblock %}