{% extends "staticpages/base.html" %}
{% load static %}
{% block title %}product{% endblock %}
{% block content %}
<div class="sidebar">
    <h2>Menu</h2>
    <ul>
        <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
        <li><a href="{% url 'categories' %}">Categories</a></li>
        <li><a href="{% url 'add_product' %}">Sell</a>
            <a href="{% url 'product_list' %}">Buy</a>
        <li><a href="{% url 'orders' %}">My Orders</a></li>
        <li><a href="{% url 'product_list' %}">My Products</a>
        <li><a href="{% url 'contact' %}">Contact Us</a></li>
        <li><a href="{% url 'home' %}">Site Home</a>
    </ul>
    <div class="logout-btn">
        <form action="{% url 'signout' %}" method="post">
            {% csrf_token %}
            <button type="submit" id="submit-btn">Log out</button>
        </form>
    </div>
</div>

<div class="mainbar">
    <div class="card" style="width: 18rem;">
        <img src="{{ user_product.image.url }}" class="card-img-top" alt="Product Image">
        <div class="card-body">
            <h5 class="card-title">{{ user_product_list.name }}</h5>
            <p class="card-text">${{ user_product_list.price }}</p>
            <p class="card-text">{{ user_product_list.description }}</p>
        </div>
    </div>
</div>
{% endblock %}